.Footer{
    height: 3%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    .company{
        color: rgb(212, 212, 212);
        span:nth-child(1){
            color: rgb(255, 65, 65);
        }
        span:nth-child(2){
            color: rgb(255, 255, 255);
        }
    }
    .developer{
        color: rgb(184, 165, 130);
        span{
            color: rgb(181, 154, 255);
        }
    }
}